# IMPORTING THE LIBRARIES

In [0]:
# Importing pandas module
import pandas as pd
# Importing numpy module
import numpy as np

# READING THE DATASET FILE

In [0]:
# Reading the csv file
data = 'Autolib_dataset.csv'
df = pd.read_csv(data, encoding= 'latin1')

In [0]:
# Showing the first five rows of the dateset
df.head()

                      Address  Cars  Bluecar counter  ...  day  hour  minute
0              24 Rue Vulpian     3                3  ...    1     0       0
1  8 Boulevard Richard Lenoir     0                0  ...    1     0       0
2        4 Rue Charles Bossut     3                3  ...    1     0       0
3   3 avenue Claude Vellefaux     4                4  ...    1     0       0
4      236 Boulevard Voltaire     1                1  ...    1     0       0

[5 rows x 25 columns]

# EXPLORING THE DATASET

In [0]:
# Checking the number of columns
df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [0]:
# Checking the number of rows
df.index

RangeIndex(start=0, stop=5001, step=1)

In [0]:
# Checking the number of rows and columns
df.shape

(5001, 25)

In [0]:
# Getting the description of the dataset
df.describe

<bound method NDFrame.describe of                          Address  Cars  Bluecar counter  ...  day  hour  minute
0                 24 Rue Vulpian     3                3  ...    1     0       0
1     8 Boulevard Richard Lenoir     0                0  ...    1     0       0
2           4 Rue Charles Bossut     3                3  ...    1     0       0
3      3 avenue Claude Vellefaux     4                4  ...    1     0       0
4         236 Boulevard Voltaire     1                1  ...    1     0       0
...                          ...   ...              ...  ...  ...   ...     ...
4996  36 Boulevard Louise Michel     5                5  ...    1     0       4
4997           1 Avenue Gambetta     3                3  ...    1     0       4
4998   2 Rue de l'Amiral Coligny     2                2  ...    1     0       4
4999  26 Rue du Quatre Septembre     0                0  ...    1     0       4
5000                39 Rue Volta     2                2  ...    1     0       4

[5001 rows x 25 columns]>

In [0]:
# Getting the information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 25 columns):
Address                5001 non-null object
Cars                   5001 non-null int64
Bluecar counter        5001 non-null int64
Utilib counter         5001 non-null int64
Utilib 1.4 counter     5001 non-null int64
Charge Slots           5001 non-null int64
Charging Status        5001 non-null object
City                   5001 non-null object
Displayed comment      102 non-null object
ID                     5001 non-null object
Kind                   5001 non-null object
Geo point              5001 non-null object
Postal code            5001 non-null int64
Public name            5001 non-null object
Rental status          5001 non-null object
Scheduled at           36 non-null object
Slots                  5001 non-null int64
Station type           5001 non-null object
Status                 5001 non-null object
Subscription status    5001 non-null object
year                   5001 non-null int64
month                  5001 non-null int64
day                    5001 non-null int64
hour                   5001 non-null int64
minute                 5001 non-null int64
dtypes: int64(12), object(13)
memory usage: 976.9+ KB

# DATA CLEANING

# Validity

In [0]:
# Dropping of unnecessary columns
df.drop('Subscription status',axis=1, inplace=True)

In [0]:
df.drop('Scheduled at',axis = 1, inplace=True)

In [0]:
df.drop('Displayed comment', axis = 1,inplace=True)

In [0]:
df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City', 'ID',
       'Kind', 'Geo point', 'Postal code', 'Public name', 'Rental status',
       'Slots', 'Station type', 'Status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 22 columns):
Address               5001 non-null object
Cars                  5001 non-null int64
Bluecar counter       5001 non-null int64
Utilib counter        5001 non-null int64
Utilib 1.4 counter    5001 non-null int64
Charge Slots          5001 non-null int64
Charging Status       5001 non-null object
City                  5001 non-null object
ID                    5001 non-null object
Kind                  5001 non-null object
Geo point             5001 non-null object
Postal code           5001 non-null int64
Public name           5001 non-null object
Rental status         5001 non-null object
Slots                 5001 non-null int64
Station type          5001 non-null object
Status                5001 non-null object
year                  5001 non-null int64
month                 5001 non-null int64
day                   5001 non-null int64
hour                  5001 non-null int64
minute                5001 non-null int64
dtypes: int64(12), object(10)
memory usage: 859.7+ KB

# Accuracy

In [0]:
# Checking whether the redundancy between the cars Column and Bluecar Counter column is equal
def total(row):
  if row['cars'] == row['bluecar counter']:
    return True
  else:
    return False

In [0]:
# Creating a new column called verifier
df['verifier'] = df.apply(lambda row:total(row), axis=1)
df.head()

                      address  cars  bluecar counter  ...  hour  minute  verifier
0              24 Rue Vulpian     3                3  ...     0       0      True
1  8 Boulevard Richard Lenoir     0                0  ...     0       0      True
2        4 Rue Charles Bossut     3                3  ...     0       0      True
3   3 avenue Claude Vellefaux     4                4  ...     0       0      True
4      236 Boulevard Voltaire     1                1  ...     0       0      True

[5 rows x 23 columns]

# Completeness

In [0]:
# Ckecking for null values
df.isnull().any().any()

False

In [0]:
df.isnull().sum().sum()

0

# Consistency

In [0]:
# Checking for duplicates
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4996    False
4997    False
4998    False
4999    False
5000    False
Length: 5001, dtype: bool

In [0]:
# There are no duplicates in the dataset

# Uniformity

In [0]:
# changing all the columns names to lower case
df.columns = df.columns.str.lower()
df.columns

Index(['address', 'cars', 'bluecar counter', 'utilib counter',
       'utilib 1.4 counter', 'charge slots', 'charging status', 'city', 'id',
       'kind', 'geo point', 'postal code', 'public name', 'rental status',
       'slots', 'station type', 'status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [0]:
# Mergings multiple columns (year, month, day, hour, minute ) to one (datetime)
df['datetime'] = pd.to_datetime(df[['year', 'month', 'day', 'hour','minute']])

# The error shows because I have already dropped the above columns

KeyError: ignored

In [0]:
# Dropping the following columns to avoid redundancy
df.drop('year', axis=1, inplace= True)
df.drop('month', axis=1, inplace= True)
df.drop('day', axis=1, inplace= True)
df.drop('hour', axis=1, inplace= True)
df.drop('minute', axis=1, inplace= True)

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 19 columns):
address               5001 non-null object
cars                  5001 non-null int64
bluecar counter       5001 non-null int64
utilib counter        5001 non-null int64
utilib 1.4 counter    5001 non-null int64
charge slots          5001 non-null int64
charging status       5001 non-null object
city                  5001 non-null object
id                    5001 non-null object
kind                  5001 non-null object
geo point             5001 non-null object
postal code           5001 non-null int64
public name           5001 non-null object
rental status         5001 non-null object
slots                 5001 non-null int64
station type          5001 non-null object
status                5001 non-null object
verifier              5001 non-null bool
datetime              5001 non-null datetime64[ns]
dtypes: bool(1), datetime64[ns](1), int64(7), object(10)
memory usage: 708.3+ KB

# Exporting the clean dataset

In [0]:
df.to_csv('a_clean_dataset.csv')

In [0]:
# Downloading the csv
from google.colab import files
files.download("a_clean_dataset.csv")

In [0]:
df

                         address  cars  ...  verifier            datetime
0                 24 Rue Vulpian     3  ...      True 2018-04-01 00:00:00
1     8 Boulevard Richard Lenoir     0  ...      True 2018-04-01 00:00:00
2           4 Rue Charles Bossut     3  ...      True 2018-04-01 00:00:00
3      3 avenue Claude Vellefaux     4  ...      True 2018-04-01 00:00:00
4         236 Boulevard Voltaire     1  ...      True 2018-04-01 00:00:00
...                          ...   ...  ...       ...                 ...
4996  36 Boulevard Louise Michel     5  ...      True 2018-04-01 00:04:00
4997           1 Avenue Gambetta     3  ...      True 2018-04-01 00:04:00
4998   2 Rue de l'Amiral Coligny     2  ...      True 2018-04-01 00:04:00
4999  26 Rue du Quatre Septembre     0  ...      True 2018-04-01 00:04:00
5000                39 Rue Volta     2  ...      True 2018-04-01 00:04:00

[5001 rows x 19 columns]

# Answering the questions

In [0]:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) 
# in the city of Paris over the month of April 2018
g = pd.pivot_table(df, columns='city',  index='datetime' )
g.head(1)

KeyError: ignored

In [0]:
# What is the most popular hour for returning cars?

In [0]:
# What station is the most popular?
# Overall?

In [0]:
# What station is the most popular?
# At the most popular picking hour?

In [0]:
# What postal code is the most popular for picking up Bluecars? Does the most 
# popular station belong to that postal code?
# Overall?

In [0]:
# What postal code is the most popular for picking up Bluecars? Does the most 
# popular station belong to that postal code?
# At the most popular picking hour?

In [0]:
# Do the results change if you consider Utilib and Utilib 1.4 instead of Bluecars?