<a href="https://colab.research.google.com/github/victoriousvictor42/cars/blob/master/W4_SQL_IP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CONNECTING TO THE DATABASE

In [0]:
# Loading the sql extension
%load_ext sql

# Connecting to the memory of the sql database
%sql sqlite://

'Connected: @None'

# LOADING THE DATASET

In [0]:
# Import pandas dataset
import pandas as pd 

# Load the csv file
with open('a_clean_dataset.csv','r') as f:
    car = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS car;
%sql PERSIST car;

 * sqlite://
Done.
 * sqlite://

'Persisted car'

# VIEWING THE DATASET

In [0]:
%%sql
SELECT * FROM car LIMIT 5

 * sqlite://
Done.

[(0, '24 Rue Vulpian', 3, 3, 1, 0, 1, 'operational', 'Paris', 'paris-vulpian-24', 'STATION', '48.8310493, 2.3460584', 75013, 'Paris/Vulpian/24', 'operational', 1, 'station', 'ok', 1, '2018-04-01 00:00:00'),
 (1, '8 Boulevard Richard Lenoir', 0, 0, 0, 0, 1, 'operational', 'Paris', 'paris-richardlenoir-8', 'STATION', '48.8545026, 2.370183', 75011, 'Paris/Richard Lenoir/8', 'operational', 3, 'station', 'ok', 1, '2018-04-01 00:00:00'),
 (2, '4 Rue Charles Bossut', 3, 3, 0, 0, 1, 'operational', 'Paris', 'paris-charlesbossut-4', 'STATION', '48.8431847, 2.3837959', 75012, 'Paris/Charles Bossut/4', 'operational', 2, 'station', 'ok', 1, '2018-04-01 00:00:00'),
 (3, '3 avenue Claude Vellefaux', 4, 4, 0, 0, 0, 'operational', 'Paris', 'paris-claudevellefaux-3', 'STATION', '48.8740623, 2.3703034', 75010, 'Paris/Claude Vellefaux/3', 'operational', 1, 'station', 'ok', 1, '2018-04-01 00:00:00'),
 (4, '236 Boulevard Voltaire', 1, 1, 0, 0, 1, 'operational', 'Paris', 'paris-voltaire-236', 'STATION', '48.852023, 2.389719', 75011, 'Paris/Voltaire/236', 'operational', 4, 'station', 'ok', 1, '2018-04-01 00:00:00')]

# ANSWERING THE QUESTIONS

In [15]:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) 
# in the city of Paris over the month of April 2018
%%sql
SELECT datetime,city FROM car
WHERE City="Paris"

GROUP  BY datetime
ORDER  BY COUNT(*) DESC LIMIT 1;

 * sqlite://
Done.

[('2018-04-01 00:03:00', 'Paris')]

In [17]:
# What is the most popular hour for returning cars?
%%sql
SELECT  datetime
FROM  car 
GROUP  BY datetime
ORDER  BY COUNT(*) ASC LIMIT 1;

 * sqlite://
Done.

[('2018-04-01 00:04:00',)]

In [19]:
# What station is the most popular?
# Overall?
%%sql
SELECT kind,'geo point',id
FROM(SELECT *  FROM car
      WHERE city = "Paris")
GROUP  BY id
ORDER  BY COUNT(*) ASC LIMIT 1;

 * sqlite://
Done.

[('STATION', 'geo point', 'paris-adolphemille-8')]

In [26]:
# What station is the most popular?
# At the most popular picking hour?
%%sql
SELECT kind,'geo point',ID
FROM
(SELECT datetime,id,kind,'geo point'
FROM(SELECT *  FROM car  WHERE city = "Paris")
GROUP  BY datetime
ORDER  BY COUNT(*) DESC)
GROUP  BY id
ORDER  BY COUNT(*) DESC LIMIT 1;

 * sqlite://
Done.

[('PARKING', 'geo point', 'paris-portedechamperret-6')]

In [28]:
# What postal code is the most popular for picking up Bluecars? Does the most 
# popular station belong to that postal code?
# Overall?
%%sql
SELECT 'Postal code'
FROM
(SELECT *
FROM(SELECT*  FROM car
      WHERE city = "Paris")
GROUP  BY datetime
ORDER  BY COUNT(*) DESC)
GROUP  BY cars
ORDER  BY COUNT(*) DESC LIMIT 1;

 * sqlite://
Done.

[('Postal code',)]